*{
    box-sizing: border-box;
  }
  
  body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1rem;
    font-weight:normal;
    line-height:1.5;
    color:#333;
    overflow-x:hidden;
  }
  
  /* The side navigation menu */
  .sidenav {
      height: 100%; /* 100% Full-height */
      width: 0; /* 0 width - change this with JavaScript */
      position: fixed; /* Stay in place */
      z-index: 99; /* Stay on top */
      top: 0;
      right: 0;
      background-color: #211F1F; /* Black*/
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 60px; /* Place content 60px from the top */
      transition: 0.4s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
      padding: 8px 8px 8px 24px;
      text-decoration: none;
      font-size: 25px;
      color: #8C8989;
      display: block;
      transition: 0.3s
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover, .offcanvas a:focus{
      color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
      position: absolute;
      top: 0;
      margin-bottom: 0;
      padding-bottom: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
      color: red;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
  }
  /* hamburger nav icon */
  span {
      float: right;
      position: fixed;
      right: 2.5em;
      margin-top: 2.0em;
      z-index: 98; /* Stay on top */
  }
  /* start home screen */
  .v-header{
    height:100vh;
    display:flex;
    align-items:center;
    color:#fff;
  }
  
  .container{
    max-width:80%;
    padding-left:1rem;
    padding-right:1rem;
    margin:auto;
  }
    
  .fullscreen-video-wrap{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
  }
  
  .fullscreen-video-wrap video{
    min-height:100%;
    min-width:100%;
  }
  
  .header-overlay{
    height:100vh;
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    width:100vw;
    z-index:1;
    background: #B59358;
    opacity:0.60;
  }
  
  .header-content{
    z-index:2;
    text-align: center;
  }  
  .header-content p{
    font-size:4.2rem;
    text-align: center;
    color: #2B2A2A;
    font-weight: bold;
    font-family: 'Tempus Sans ITC';
    display:block;
    padding-bottom:1rem;
    padding-top: 0;
  }
  .header-content h2{
    font-size:5rem;
    text-align: center;
    color: #171717;
  }
  /* end home screen */
  /* start about section-a */
  .section-a{
    height:100vh;
    display:flex;
    align-items:center;
    color:#000000;
  }
  .section-a h2 {
    text-align: center;
    font-size: 4rem;
    color: linen;
  }
  .section-a p {
    font-size: 2.4rem;
    font-weight: 500;
    color: linen;
  }
  .developer {
    text-align: center;
    font-style: italic;
    font-size: 2rem;
    color: #333;
  }
  .section-a{
    background: url(..//images/stone.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .section-b{
    height:100vh;
    display:flex;
    align-items:center;
    background:#007d3f;
  }
  .section-b h1 {
      color: #000000;
      font-weight: 600;
  }
 
  @media(max-width:960px){
    .container{
      padding-right:3rem;
      padding-left:3rem;
    }
  }
  /* end about section */
  .container1 {
    max-width:70%;
    margin:auto;
  }
  .image1 {
      margin-left: 10rem;
      margin-top: 5rem;
  }
  .image2 {
    margin-right: 10rem;
    margin-top: 6rem;
  }
  /* start slider */
  #slider {
    position: relative;
    overflow: hidden;
    margin: 0px auto 0 auto;
    border-radius: 4px;
  }
  
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 8rem
  }
  
  #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 80rem;
    height: 60rem;
    background: #ccc;
    text-align: center;
  }
  #slider ul li:hover {
    opacity: .50;
  }
  a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: none;
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-weight: 600;
    font-size: 7rem;
    opacity: 0.8;
    cursor: pointer;
  }
  
  a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
  }
  
  a.control_prev {
    border-radius: 0 2px 2px 0;
  }
  
  a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
  }
  
  .slider_option :hover {
    color: #EF78DB;
  }
  
  .slider_option {
    margin: 20px auto;
    padding-left: 40%;
    font-size: 2rem;
    font-weight: 600;
    color: linen;
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-width: 1100px) {
    .image1 {max-width: 8em}
    .image2 {max-width: 8em}
    #slider {max-width:50em}
}
  /* end slider */
  /* start meetup groups */
  .row {
    height: 100%vh;
  }
  
  h1,h2,h3,h4,h5,h6{
    font-family:Poppins;
    text-align: center;
  }
  
  p{
    font-family:Roboto;
  }
  .section-c {
    background: url(..//images/meetup.png) center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
    display:flex;
    align-items:center;
  }
  #showcase .showcase-left{
    padding-top:50%;
  }
  #showcase .showcase-left img{
    margin-top: -4em;
    background-color: #EFF44C;
    border: .06em solid blue;
  }
  #showcase .showcase-left img:hover{
    background-color: rgb(62, 251, 191);
    border: .05em solid #175D17;
  }
  #showcase .showcase-right{
    padding-top:0em;
    margin-left: 15em;
    margin-right: -30em;
    background-color: #EFF44C;
    border: .7em double blue;
    padding-bottom: 4em;
  }
  a {
    color: black;
  }
  a:hover {
    color: blue;
  }
  #showcase .showcase-right li{
    font-family: 'Poppins';
    list-style: none;
    font-size: 26px;
    text-align: left;
    padding-top: 4.5rem;
  }
  /* end meetup groups */
  /* start experience */
  .section-d {
    background: url(..//images/business3.jpeg) center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
    display:flex;
    align-items:center;
  }
  
  .info-top {
    border-bottom: .1em solid black;
    font-size: 18px;
    font-weight: 700;
    padding-left: 20rem;
    padding-right: 20rem;
  }
  .info-bottom h2 {
    font-size: 20px;
  }
  .info-bottom h4 {
    font-size: 16px;
  }
  .info-bottom p {
    text-align: center;
    font-weight: 700;
    line-height: .8;
    font-size: 13px;
  }
  /* end experience */
  /* start skills */
  .section-e {
    background: url(..//images/skills.jpeg) center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
    display:flex;
    align-items:center;
    padding: 0;
    margin: 0;
  }
  .section-e h1 {
    font-size: 9em;
  }
  .ul-skills {
    text-align: center;
    padding-left: 0;
  }
  
  .li-skills {
    display: inline-block;
    margin: 7px;
    padding: 15px 20px;
    border-radius: 50%;
    color: black;
    background: #FFC555;
    list-style: none;
    cursor: default;
    font-size: 5em;
  }
  /* end skills */
  /* start projects */
  .section-f {
    display:flex;
    align-items:center;
    color:#000000;
    width: 100%;
  }
  .container-f {
    padding-right: 3.5em;
    padding-top: 2em;
    padding-right: 10em;
    border: 2em double #008CF4;
  }
  .container-f h1 {
   padding-left: 2.7em;
   font-size: 4rem;
  }
  .photo-grid {
    margin: 1em auto;
    width: 90%;
    text-align: center;
  }
  
  .photo-grid li {
    border-left: 20px solid white;
    border-right: 20px solid white;
    display: inline-block;
    margin: 3em;
    width: 289px;
  }
  
  .photo-grid img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  .box {
    cursor: pointer;
    height: 300px;
    position: relative;
    overflow: hidden;
    width: 400px;
  }
  
  .box img {
    position: absolute;
    left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }
  
  .box .overbox {
    background-color: #008CF4;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 360px;
    height: 260px;
    padding: 80px 20px;
  }
  
  .box:hover .overbox { opacity: 1; }
  
  .box .overtext {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
  }
  
  .box .title {
    font-size: 2em;
    padding-top: -2em;
    margin-top: -2em;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
  }
  
  .box:hover .title,
  .box:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
  
  .box .tagline {
    font-size: 1.5em;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
  }
  
  .box:hover .tagline,
  .box:focus .tagline {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }
  /* end projects */
  
  