* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
  z-index: 1;
}
.container {
  max-width: 80%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
}
/* start nav */
 /* hamburger nav icon */
   
  #circle1 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: #1D70FF;
    border: solid 5px #1D70FF; 
    position: absolute;
    float: right;
    position: fixed;
    right: 3.5em;
    margin-top: 2.5em;
    z-index: 3; /* Stay on top */
  }
    
  .innerTEXT1{
    text-align: center;
    padding-top: .03em;
    margin-top: 0;
    margin-bottom: 0;
    color: #0B00F9;
    font-family: "AvenirLT-Roman","ITC Serif Gothic", Lato;
    font-size: 4em;
    position: absolute;
    top: -.2em;
    left: 0;
  }
  .innerTEXT1:hover {
    color: yellow;
  }
.navbar a{
  float:right;
  color:#f2f2f2;
  padding:22px 24px;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: #211F1F;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  -ms-opacity: 0.9;
  -o-opacity: 0.9;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 40px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.side-nav a {
  padding: 20px 10px 20px 30px;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  display: block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #EAFB06;
  cursor: hand;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
  color:red;
  z-index: 5;
}

@media(min-width:568px){
  /*.open-slide{display:none}*/
}
/* end nav */
  /* start home screen */
  .container-home {
  margin-left: 10%;
  }
  .container2 {
    width: 100px;
    text-align: center;
  }
  
  .section-home {
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    background-color: #CB6924;
  }
  #main {
    height: 700px;
    width: 900px;
    /*background-image: url(./images/austin.jpg);*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -350px;
  }
  #d1 {
    height: 300px;
    width: 160px;
    -webkit-box-shadow: 0px 0px 25px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 25px rgba(0,0,0,.8);
    -ms-box-shadow: 0px 0px 25px rgba(0,0,0,.8);
    -o-box-shadow: 0px 0px 25px rgba(0,0,0,.8);
    box-shadow: 0px 0px 25px rgba(0,0,0,.8);
    position: absolute;
    top: 23%;
    left: 0;
    background-image: url(..//images/austin.jpg);
    -webkit-background-size: 900px 700px;
    -moz-background-size: 900px 700px;
    -ms-background-size: 900px 700px;
    -o-background-size: 900px 700px;
    background-size: 900px 700px;
    background-position: 0px -130px;
    z-index: 2;
    -webkit-transform: translate(-23%,0);
    -moz-transform: translate(-23%,0);
    -ms-transform: translate(-23%,0);
    -o-transform: translate(-23%,0);
    transform: translate(-23%,0);
    -webkit-animation: animate1 4s linear;
    -moz-animation: animate1 4s linear;
    -ms-animation: animate1 4s linear;
    -o-animation: animate1 4s linear;
    animation: animate1 4s linear;
  }
  #d2 {
    height: 450px;
    width: 300px;
    position: absolute;
    top: 18.5%;
    left: 8%;
    background-image: url(..//images/austin.jpg);
    -webkit-background-size: 900px 700px;
    -moz-background-size: 900px 700px;
    -ms-background-size: 900px 700px;
    -o-background-size: 900px 700px;
    background-size: 900px 700px;
    background-position: -79px -55px;
    z-index: 1;
    -webkit-transform: translate(-18.5%,-8%);
    -moz-transform: translate(-18.5%,-8%);
    -ms-transform: translate(-18.5%,-8%);
    -o-transform: translate(-18.5%,-8%);
    transform: translate(-18.5%,-8%);
    -webkit-animation: animate2 4s linear;
    -moz-animation: animate2 4s linear;
    -ms-animation: animate2 4s linear;
    -o-animation: animate2 4s linear;
    animation: animate2 4s linear;
  }
  
  #d3 {
    height: 650px;
    width: 360px;
    -webkit-box-shadow: 0px 0px 25px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 25px rgba(0,0,0,.8);
    -ms-box-shadow: 0px 0px 25px rgba(0,0,0,.8);
    -o-box-shadow: 0px 0px 25px rgba(0,0,0,.8);
    box-shadow: 0px 0px 25px rgba(0,0,0,.8);
    position: absolute;
    top: 35%;
    left: 34%;
    background-image: url(..//images/austin.jpg);
    -webkit-background-size: 900px 700px;
    -moz-background-size: 900px 700px;
    -ms-background-size: 900px 700px;
    -o-background-size: 900px 700px;
    background-size: 900px 700px;
    background-position: -205px 0px;
    z-index: 2;
    -webkit-transform: translate(-35%,-34%);
    -moz-transform: translate(-35%,-34%);
    -ms-transform: translate(-35%,-34%);
    -o-transform: translate(-35%,-34%);
    transform: translate(-35%,-34%);
    -webkit-animation: animate3 4s linear;
    -moz-animation: animate3 4s linear;
    -ms-animation: animate3 4s linear;
    -o-animation: animate3 4s linear;
    animation: animate3 4s linear;
  }
  #d3:hover {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: scale(1.19);
    -moz-transform: scale(1.19);
    -ms-transform: scale(1.19);
    -o-transform: scale(1.19);
    transform: scale(1.19);
    overflow: hidden;
    top: 3.7%;
    left: 19%;
  }
  #d4 {
    height: 520px;
    width: 300px;
    position: absolute;
    top: 16%;
    right: 10%;
    background-image: url(..//images/austin.jpg);
    -webkit-background-size: 900px 700px;
    -moz-background-size: 900px 700px;
    -ms-background-size: 900px 700px;
    -o-background-size: 900px 700px;
    background-size: 900px 700px;
    background-position: -510px -40px;
    z-index: 1;
    -webkit-transform: translate(-16%,-10%);
    -moz-transform: translate(-16%,-10%);
    -ms-transform: translate(-16%,-10%);
    -o-transform: translate(-16%,-10%);
    transform: translate(-16%,-10%);
    -webkit-animation: animate4 4s linear;
    -moz-animation: animate4 4s linear;
    -ms-animation: animate4 4s linear;
    -o-animation: animate4 4s linear;
    animation: animate4 4s linear;
  }
  #d5 {
    height: 270px;
    width: 270px;
    -webkit-box-shadow: 0px 0px 25px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 25px rgba(0,0,0,.8);
    -ms-box-shadow: 0px 0px 25px rgba(0,0,0,.8);
    -o-box-shadow: 0px 0px 25px rgba(0,0,0,.8);
    box-shadow: 0px 0px 25px rgba(0,0,0,.8);
    position: absolute;
    top: 54%;
    right: -10%;
    background-image: url(..//images/austin.jpg);
    -webkit-background-size: 900px 700px;
    -moz-background-size: 900px 700px;
    -ms-background-size: 900px 700px;
    -o-background-size: 900px 700px;
    background-size: 900px 700px;
    background-position: -610px -410px;
    z-index: 3;
    -webkit-transform: translate(-54%,10%);
    -moz-transform: translate(-54%,10%);
    -ms-transform: translate(-54%,10%);
    -o-transform: translate(-54%,10%);
    transform: translate(-54%,10%);
    -webkit-animation: animate5 4s linear;
    -moz-animation: animate5 4s linear;
    -ms-animation: animate5 4s linear;
    -o-animation: animate5 4s linear;
    animation: animate5 4s linear;
  }
  @keyframes animate1 {
    0% {
      transform: translate(-23%,0) perspective(300px) rotateX(0deg) rotateY(0deg);
    }
    100% {
      transform: translate(-23%,0) perspective(300px) rotateX(0deg) rotateY(360deg);
    }
  }
  @keyframes animate2 {
    0% {
      transform: translate(-18.5%,-8%) perspective(400px) rotateX(0deg) rotateY(0deg);
    }
    100% {
      transform: translate(-18.5%,-8%) perspective(400px) rotateX(0deg) rotateY(-360deg);
    }
  }
  @keyframes animate3 {
    0% {
      transform: translate(-35%,-34%) perspective(400px) rotateX(0deg) rotateY(0deg);
    }
    100% {
      transform: translate(-35%,-34%) perspective(400px) rotateX(0deg) rotateY(-360deg);
    }
  }
  @keyframes animate4 {
    0% {
      transform: translate(-16%,-10%) perspective(400px) rotateX(0deg) rotateY(0deg);
    }
    100% {
      transform: translate(-16%,-10%) perspective(400px) rotateX(0deg) rotateY(360deg);
    }
  }
  @keyframes animate5 {
    0% {
      transform: translate(-54%,10%) perspective(300px) rotateX(0deg) rotateY(0deg);
    }
    100% {
      transform: translate(-54%,10%) perspective(300px) rotateX(0deg) rotateY(-360deg);
    }
  }
  /* end home screen */
  .section-1a {
    height: 30vh;
    display: -ms-flex;
    display: -ms-flex;
    display: -ms-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    background-color: white;
    padding: 0;
    margin: 0;
    z-index: 1;
  }
  .section-1a p{
    margin: 0;
    font-size:2.7rem;
    text-align: center;
    color: #AB8B62;
    font-weight: bold;
    font-family: 'Tempus Sans ITC';
    display:block;
    padding: 0;
    padding-bottom: .5em;
  }
  .section-1a h5{
    text-align: center;
    font-family: 'Bradley Hand ITC';
    color: #997227;
    display:block;
    font-style: italic;
    font-size: 2.5em;
  }
  /* start about section-a */
  
  .section-a h2 {
    text-align: center;
    font-size: 4rem;
    color: linen;
  }
  .section-a p {
    font-size: 2.4rem;
    font-weight: 500;
    color: linen;
  }
  .developer {
    text-align: center;
    font-style: italic;
    font-size: 2rem;
    color: #333;
  }
  .section-a {
    height: 100vh;
    background: url(..//images/stone.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: -o-flex;
    display: -o-flex;
    display: -o-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    color: #000000;
    z-index: 1;
  }
  .section-b {
    height: 100vh;
    display: -o-flex;
    display: -o-flex;
    display: -o-flex;
    display: -o-flex;
    display: -o-flex;
    display: -o-flex;
    display: -o-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    background: #007d3f;
    border-top: 1em solid #014423;
    border-bottom: 1em solid #014423;
    z-index: 1;
  }
  
  .section-b h1 {
    color: #000000;
    font-weight: 600;
  }
 
  @media(max-width:960px){
    .container{
      padding-right:3rem;
      padding-left:3rem;
    }
  }
  /* end about section */
  .container1 {
    max-width: 70%;
    margin: auto;
  }
  
  .image1 {
    margin-left: 10rem;
    margin-top: 0rem;
  }
  
  .image2 {
    margin-right: 10rem;
    margin-top: 1rem;
  }
  
  /* start slider */
  
  #slider {
    position: relative;
    overflow: hidden;
    margin: 0px auto 0 auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
  }
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 8rem;
  }
  
  #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 80rem;
    height: 60rem;
    background: #ccc;
    text-align: center;
  }
  #slider ul li:hover {
    -webkit-opacity: .50;
    -moz-opacity: .50;
    -ms-opacity: .50;
    -o-opacity: .50;
    opacity: .50;
    -webkit-opacity: .50;
    -moz-opacity: .50;
    -ms-opacity: .50;
    -o-opacity: .50;
    opacity: .50;
    -webkit-opacity: .50;
    -moz-opacity: .50;
    -ms-opacity: .50;
    -o-opacity: .50;
    opacity: .50;
    -webkit-opacity: .50;
    -moz-opacity: .50;
    -ms-opacity: .50;
    -o-opacity: .50;
    opacity: .50;
    -webkit-opacity: .50;
    -moz-opacity: .50;
    -ms-opacity: .50;
    -o-opacity: .50;
    opacity: .50;
  }
  a.control_prev,
  a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: none;
    color: rgb(255, 0, 0);
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
    font-weight: 600;
    font-size: 7rem;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    -ms-opacity: 0.8;
    -o-opacity: 0.8;
    opacity: 0.8;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    -ms-opacity: 0.8;
    -o-opacity: 0.8;
    opacity: 0.8;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    -ms-opacity: 0.8;
    -o-opacity: 0.8;
    opacity: 0.8;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    -ms-opacity: 0.8;
    -o-opacity: 0.8;
    opacity: 0.8;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    -ms-opacity: 0.8;
    -o-opacity: 0.8;
    opacity: 0.8;
    cursor: pointer;
  }
  a.control_prev:hover,
  a.control_next:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  a.control_prev {
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -ms-border-radius: 0 2px 2px 0;
    -o-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -ms-border-radius: 0 2px 2px 0;
    -o-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -ms-border-radius: 0 2px 2px 0;
    -o-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -ms-border-radius: 0 2px 2px 0;
    -o-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -ms-border-radius: 0 2px 2px 0;
    -o-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
  }
  
  a.control_next {
    right: 0;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -ms-border-radius: 2px 0 0 2px;
    -o-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -ms-border-radius: 2px 0 0 2px;
    -o-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -ms-border-radius: 2px 0 0 2px;
    -o-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -ms-border-radius: 2px 0 0 2px;
    -o-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -ms-border-radius: 2px 0 0 2px;
    -o-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
  }
  .slider_option :hover {
    color: #EF78DB;
  }
  .slider_option {
    margin: 20px auto;
    padding-left: 70%;
    font-size: 2rem;
    font-weight: 600;
    color: linen;
  }
  .slider_option label {
    margin-left: 0;
  }
  #checkbox {
    margin-left: -13em;
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-width: 1100px) {
    .image1 {max-width: 8em}
    .image2 {max-width: 8em}
    #slider {max-width:50em}
}
  /* end slider */
  /* start meetup groups */
  h1,h2,h3,h4,h5,h6{
    font-family:Poppins;
    text-align: center;
  }
  p{
    font-family:Roboto;
  }
  .section-c {
    background: url(..//images/meetup.png) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: -o-flex;
    display: -o-flex;
    display: -o-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
  }
  #showcase .showcase-left{
    padding-top:50%;
  }
  #showcase .showcase-left img{
    margin-top: -4em;
    background-color: #EFF44C;
    border: .06em solid #014423;
  }
  #showcase .showcase-left img:hover{
    background-color: rgb(62, 251, 191);
    border: .05em solid #014423;
  }
  #showcase .showcase-right{
    padding-top:0em;
    margin-left: 15em;
    margin-right: -30em;
    background-color: #EFF44C;
    border: .7em double #014423;
    padding-bottom: 4em;
  }
  a {
    color: black;
  }
  a:hover {
    color: blue;
    text-decoration: none;
  }
  #showcase .showcase-right li{
    font-family: 'Poppins';
    list-style: none;
    font-size: 26px;
    text-align: left;
    padding-top: 4.5rem;
  }
  /* end meetup groups */
  .section-1b {
    height: 25vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    background-color: #12E5E8;
    padding: 0;
    margin: 0;
    z-index: 1;
  }
  .section-1b p{
    margin: 0;
    font-size:6rem;
    text-align: center;
    color: #FF3F00;
    font-weight: 900;
    font-family: 'Bradley Hand ITC';
    display:block;
    padding-top: .3em;
    padding-bottom: .3em;
  }
  
  /* start experience */
  .section-d {
    background: url(..//images/business3.jpeg) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
  }
  .info-top {
    border-bottom: .1em solid black;
    font-size: 18px;
    font-weight: 700;
    padding-left: 20rem;
    padding-right: 20rem;
  }
  .info-bottom h2 {
    font-size: 20px;
  }
  .info-bottom h4 {
    font-size: 16px;
  }
  .info-bottom p {
    text-align: center;
    font-weight: 700;
    line-height: .8;
    font-size: 13px;
  }
  a {
    color: #329E12;
  }
  a:hover {
    color: blue;
  }
  /* end experience */
  .section-1c {
    height: 30vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    background-color: #1F1F1D;
    padding: 0;
    margin: 0;
    z-index: 1;
  }
  #circle2 {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: #0D60ED;
    box-shadow: 0 0 80px #0ff, 0 0 80px #0ff, 0 0 80px #0ff;
    border: solid 5px #0D60ED;
    position: absolute center; 
    margin-left: 49%;
    transform: translate(-41%,-1%);
    animation: animate6 4s linear;
  }
  .innerTEXT2{
    text-align: center;
    padding-top: .03em;
    margin-top: 0;
    margin-bottom: 0;
    color: #0B00F9;
    font-family: "AvenirLT-Roman","ITC Serif Gothic", Lato;
    font-size: 12em;
    position: absolute;
    top: -18px;
    left: 1px;
  }
  
  /* start skills */
  .section-e {
    background: url(..//images/skills.jpeg) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border-bottom: 1em solid black;
  }
  .section-e h1 {
    font-size: 9em;
  }
  
  .ul-skills {
    text-align: center;
    padding-left: 0;
  }
  
  .li-skills {
    display: inline-block;
    margin: 7px;
    padding: 15px 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    color: black;
    background: #FFC555;
    list-style: none;
    cursor: default;
    font-size: 5em;
  }
  .li-skills:hover {
    background: #51FFF9;
  }
  /* end skills */
  /* start projects */
  .section-f {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    color: #000000;
    width: 100%;
  }
  .container-f {
    padding-right: 3.5em;
    padding-top: 2em;
    padding-right: 10em;
    border: 2em double #008CF4;
  }
  .container-f h1 {
   padding-left: 2.7em;
   font-size: 4rem;
  }
  .photo-grid {
    margin: 1em auto;
    width: 90%;
    text-align: center;
  }
  .photo-grid li {
    border-left: 20px solid white;
    border-right: 20px solid white;
    display: inline-block;
    margin: 3em;
    width: 289px;
  }
  .photo-grid img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  .box {
    cursor: pointer;
    height: 300px;
    position: relative;
    overflow: hidden;
    width: 400px;
  }
  .box img {
    position: absolute;
    left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }
  .box .overbox {
    background-color: #008CF4;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    width: 360px;
    height: 260px;
    padding: 80px 20px;
  }
  .box:hover .overbox {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
  .box .overtext {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  .box .title {
    font-size: 2em;
    padding-top: -2em;
    margin-top: -2em;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
  .box:hover .title,
  .box:focus .title {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  .box .tagline {
    font-size: 1.5em;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
  .box:hover .tagline,
  .box:focus .tagline {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  /* end projects */
  /* start contact */
  .section-g {
    background: url(..//images/meet.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 92vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
  }
#placeholderdiv img{
  border-radius: 50%;
}
.showcase-left2 {
  margin-top: 0;
  padding-top: 0;
}
.showcase-left2 img{
  width: 45em;
  height: 45em;
  margin-right: 0;
  margin-left: 2em;
  margin-top: 2em;
}
.showcase-right2 {
  height: 50em;
  width: 50em;
  background-color: rgba(251, 123, 16, 0.97);
  padding: 20px;
  color:rgba(65, 34, 9, 0.97);
  border:#A2A2A2 2px solid;
  margin-left: 18em;
}
textarea {
    resize: none;
}
.form-label {
    font-size: 14px;
    color: blue;
    margin: 0;
    display: block;
}
textarea.form-control {
  height: 10em;
}
.form-control {
    border-radius: 0;
    border-color: #ccc;
    border-width: 0 0 2px 0;
    border-style: none none solid none;
    box-shadow: none;
}
.form-control:focus {
    box-shadow: none;
    border-color: #282828;
}
.js-hide-label {
    opacity: 0;     
}
.js-unhighlight-label {
    color: #000000; 
}
.btn1 {
    background: #16B6E3;
    border: 1px solid #2f323a;
    border-radius: 3px;
    color: #2f323a;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: inherit;
    margin: 0;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
.btn:hover,.btn:active, .btn:focus {
    border-color: #5e9bfc;
    color: #FFFF00;
}
.section-h {
  height: 8vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  background-color: linen;
  padding: 0;
  margin: 0;
  border-top: .3em solid black;
}
.info-center h2{
font-size: 3em;
color: black;
padding-left: 0;
margin-left: 0;
}
